/* Palettes to be used in themes later on */
/* Concept Calculator CSS */
.swatch_1 {
  background: #d2d8dc;
}
.swatch_2 {
  background: #040404;
}
.swatch_3 {
  background: #bdbdc0;
}
.swatch_4 {
  background: #ffc8bc;
}
.swatch_5 {
  background: #514443;
}
.swatch_6 {
  background: #fa2e16;
}
.swatch_7 {
  background: #ff856d;
}

/* Secundária CSS */
.ice {
  background: #f7f6f7;
}
.dark-gray {
  background: #414141;
}
.red {
  background: #f06e6e;
}
.light-gray {
  background: #d7d4d3;
}
.green {
  background: #b8e986;
}
.dark-green {
  background: #a1a197;
}
.light-red {
  background: #e5a2a0;
}
.light-green {
  background: #ccd2aa;
}
.blue {
  background: #87b1e3;
}
